<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Overcast Coffee Roasters</title>

    <!-- Custom fonts for this template -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto|Thasadith|Cormorant+Garamond" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- template engine -->
    <!-- development version --><script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131512811-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131512811-1');
    </script>

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.js"></script>

  </head>

  <body id="page-top">
    <!-- vue.js container -->
    <div id="app">

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logos/cloud-icon-solid-sm.png" height="25" width="40" alt="" style="margin-right: 10px;"> <strong>OVERCAST</strong> COFFEE ROASTERS</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#coffees">Coffees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Header -->
      <header class="masthead">
        <div class="container">
          <div class="intro-text">
            <img id="bean-burst-logo" src="img/logos/bean-burst-icon.png" alt=""/>
            <div class="intro-lead-in">Bringing a little liquid sunshine to your dark and dreary Vancouver mornings.</div>
            <!--<div class="intro-heading text-uppercase">Overcast Coffee Roasters</div>-->
            <a class="js-scroll-trigger" href="#coffees" style="font-size: 3em; color: #ffbe00;"><i class="material-icons" style="font-size: 50px">arrow_downward</i></a>
          </div>
        </div>
      </header>

      <!-- Coffees -->
      <section id="coffees">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Coffees</h2>
              <h3 class="section-subheading">Our current offerings. All prices are in CAD per 125g unit. Click on a coffee for more information.</h3>
              <p style="margin-bottom: 35px;">
                <a class="order-button" href="https://goo.gl/forms/GQBY4mN485Q9qLLh2" target="_blank"><i class="fa fa-shopping-cart" style="margin-right: 7px;"></i> Order Coffee</a>
              </p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-4" v-for="coffee in coffees">
              <div class="card coffee-grid-card" data-toggle="modal" v-bind:href="'#coffeeModal' + coffee.id">
                <img class="card-img-top coffee-grid-image" v-bind:src="'img/coffees/' + coffee.id + '.jpg'" alt="">
                <div class="card-body">
                  <p class="card-text coffee-card-price">
                    <span>{{coffee.price}}</span>
                  </p>
                  <h5 class="card-title">{{coffee.name}}</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- About -->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">About</h2>
              <!--<h3 class="section-subheading text-muted"></h3>-->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">

              <ul class="timeline">
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/vancouver.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>Location</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Proudly headquartered in beautiful Vancouver, British Columbia, Canada.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/beans.jpg" alt="">
                  </div>
                  <div class="timeline-panel">  
                    <div class="timeline-heading">
                      <h4>Mission</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Our goal is to share our passion for specialty coffee. We aim to make freshly roasted coffee accessible and affordable to the masses and only roast to order to ensure maximum freshness.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/quest-m3.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>Equipment</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        We roast on a <a href="https://www.coffeeshrub.com/the-quest-m3s-coffee-roaster.html" target="_blank">Quest M3</a> home roaster in small 150g batches. 
                        Each roast is precisely monitored using <a href="https://artisan-scope.org/" target="_blank">Artisan</a> software and thermocouples to monitor roast development of each batch.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>

              <h3  style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 20px;">And a short video...</h3>

              <p style="text-align: center"><iframe width="560" height="315" src="https://www.youtube.com/embed/YtFGm7z1qJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

            </div>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Contact Us</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <div class="social-icons">
                  <a href="mailto:hi@overcastcoffee.ca"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/overcast.coffee/" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/overcast.coffee/" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.youtube.com/channel/UCKC6exxtjX9G37bDWB7bRpg" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Pre-footer -->
      <section id="pre-footer">
          <div class="container">
            <img src="img/logos/overcast-footer-logo.png" alt=""/>
          </div>
      </section>
      <!-- Footer -->
      <footer>
        <div class="container">
          <p style="margin: 0; line-height: 1;">Caffeinating Vancouverites since 2019</p>
        </div>
      </footer>


      <!-- Coffee Detail Modals -->
      <div v-for="coffee in coffees"> 
        <div class="portfolio-modal modal fade" v-bind:id="'coffeeModal' + coffee.id" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><i class="material-icons" style="font-size: 30px">close</i></div>
              <div class="container">
                <div class="row">
                  <div class="col mx-auto">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <img class="img-fluid d-block mx-auto" v-bind:src="'img/coffees/' + coffee.id + '.jpg'" alt="">
                      <p style="margin: 0;"><span class="bean-details-price">{{coffee.price}}</span></p>
                      <h2 class="coffee-detail-modal-title">{{coffee.name}}</h2>
                      <hr />
                      <div class="bean-details">
                        <p>{{coffee.description}}</p>
                        <table class="table table-sm bean-details-table">
                            <tr>
                              <th><a href="https://en.wikipedia.org/wiki/List_of_coffee_varieties" target="_blank">Cultivar</a></th>
                              <td>{{coffee.cultivar}}</td>
                            </tr>
                            <tr>
                              <th>Region</th>
                              <td>{{coffee.region}}</td>
                            </tr>
                            <tr>
                              <th><a href="https://en.wikipedia.org/wiki/Coffee_production#Processing" target="_blank">Processing</a></th>
                              <td>{{coffee.processing}}</td>
                            </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div><!-- End Vue.js container -->

  </body>

</html>
